/* 
    Document   : nova-despesa
    Created on : 06/09/2013, 09:16:56
    Author     : Realter
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#id_conta, #id_cartao, #id_conta-label, #id_cartao-label { display: none; }
#box-calc { position: relative; }
