/* 
    Document   : termo
    Created on : 09/01/2014, 20:55:28
    Author     : Fernando Rodrigues
    Description:
        Purpose of the stylesheet follows.
*/

#cliente-politica-termo, #cliente-politica-index {
    float: left;
    width: 90%;
    margin: 10px 2%;
    padding: 7px 2%;    
}