/* 
    Document   : index.css
    Created on : 15/01/2014, 10:20:40
    Author     : Realter
    Description:
        Purpose of the stylesheet follows.
*/

#recuperar-senha {
    float: left;
    width: 50%;
    margin: 15px 25%;
    text-align: center;
    border: 1px solid #DCDCDC;
}

.icon {
}

.message span {
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
}

.access-acconut a {
    margin: 5px 0;
    font-size: 15px;    
    color: #1d5fa1;
}

.access-acconut a:hover {
    color: #F28E00;
}