/* 
    Document   : login
    Created on : 06/12/2013, 10:44:20
    Author     : Realter
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#usuarios-login {
    float: left;
    width: 98%;
    margin: 1%;
}
 