/* 
    Document   : novo-usuario
    Created on : 10/01/2014, 14:01:13
    Author     : Realter
    Description:
        Purpose of the stylesheet follows.
*/

p { margin: 2px; }

#info-novo-usuario {
    float: left;
    width: 27%;
    padding: 5px 10px;
    border-right: 2px solid #DCDCDC;
}

#novo-usuario {
    float: left;
    width: 65%;
    margin-left: 3%;    
}

#politica-privacidade, #termo-uso {
    border-left: 1px solid #DCDCDC;
    background: aqua;
}

.form-nov-usuario {
    float: left;
    width: 50%;
}

.termos {
    float: left;
    width: 50%;
    height: 469px;
    overflow: auto;
}

.fechar {
    float: right;    
    margin-right: 30px;
}