/* 
    Document   : alterar-plano
    Created on : 17/12/2013, 13:04:28
    Author     : Realter
    Description:
        Purpose of the stylesheet follows.
*/

/* altera plano */
#planos-altera-plano {
    

}

table th {
    font-size: 18px;
    color: #FFF;
    background: #0068B4;     
}
table td {
    font-size: 16px;
    font-weight: bold;
    background: #FFF;
}
table td, table th {
    padding: 5px;
    border: 1px solid #005fbf;
}

/* seleciona plano */

#plano_trimestral, #plano_semestral, #plano_anual {
    float: left;
    width: 31%;
    height: 400px;
    margin: 5px 1%;      
}

.plano-trial, .choise-basico { padding: 15px; }

.plano-trial {
    margin-top: 10px;
}

.choise-basico a { color: #005fbf; }
.choise-basico a:hover { color: #eb8f00; }

.trial {
    display: inline-block;
    color: #fff;
    background-color: #eb8f00;
    box-shadow: 1px 1px 1px #999;
    border-radius: 4px;        
    padding: 5px 20px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border: 0px;    
}

.trial:hover {
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
    cursor: pointer;
    color: #1d5fa1;    
    background-color: #eb8f00;
    box-shadow: 1px 1px 1px #999;
    border-radius: 4px;
}

.info-pagseguro {
    float: left;
    width: 96%;
    font-size: 14px;
    font-style: italic;
    margin: 0 2%;
    padding: 5px;
    background: #FFF;
    border-bottom: 2px solid #DCDCDC;
}