/* 
    Document   : response-plano
    Created on : 16/01/2014, 16:14:25
    Author     : Realter
    Description:
        Purpose of the stylesheet follows.
*/

#planos-response-plano {
    float: left;
    width: 80%;
    margin: 15px 10%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.name-user { 

}
.paid-ok { 
    color: #006400;
    font-size: 17px;
    text-transform: uppercase;
}
.not-paid { 
    color: #CC0000;
    font-size: 17px;
    text-transform: uppercase;
}
.wait-paid { 
    color: #1d5fa1;
    font-size: 17px;
    text-transform: uppercase;
}