/* 
    Document   : site.css
    Created on : 03/01/2014, 15:09:59
    Author     : Realter
    Description:
        Purpose of the stylesheet follows.
*/

body { margin: 0; text-align: center; background: #FFFFF9; }

#social-area { 
    float: left; 
    width: 100%; 
    margin: 0 auto; 
    padding: 4px 0; 
}
#social-area .redes-sociais { 
    float: right; 
    text-align: right; 
    margin-top: 20px; 
    margin-right: 0; 
}
.redes-sociais img { 
    width: 40px; 
    margin: 5px 9px; 
    border: none; 
}

#content-all { 
    position: relative; 
    width: 1266px; 
    margin: auto; 
    text-align: left; }

#menus { float: left; left: 0; width: 100%; }

#content { 
    float: left; 
    width: 99%;
    padding: 7px 6px; 
    /*
    border-left: 1px solid #EBEBEB;    
    box-shadow: 5px 5px 2px #888888;    
    -webkit-box-shadow: 5px 5px 2px #888888;    
    -moz-box-shadow: 5px 5px 2px #888888;
    */
}

#paseguro {
    float: left;
    width: 100%; 
}

#paseguro h4 { margin: 5px 0; }

#footer { 
    float: left;
    width: 100%; 
    height: 70px; 
    text-align: center;
    color: #FFF;
    letter-spacing: 2px;
    font-size: 10px;
    background: gray;     
}

#footer span { font-size: 9px; }

#footer a { text-decoration: none; color: #FFF; font-size: 12px; }

#footer p { margin: 5px 0; }

