* { padding: 0; margin: 0; }
li { list-style: none; }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;   
    background:transparent url("../img/bg_green.png") repeat;
    background-attachment: fixed;
    background-position: center center;  
    
    /* Para Mozilla/Gecko (Firefox etc) */
    /*background: -moz-linear-gradient(top, #CAFF70, #fff) repeat-X;*/
    /* Para WebKit (Safari, Google Chrome etc) */
    /*background: -webkit-gradient(linear, left top, left bottom, from(#CAFF70), to(#fff)) repeat-X;*/
    /* Para IE 8 */
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CAFF70, endColorstr=#FFFFFFFF)";*/
    /* Para IE 5.5 - 7 */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CAFF70, endColorstr=#FFFFFFFF);    */
}

#plano-basico {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    height: 40px;
    color: #FFF;
    background: #0068B4

}
#plano-basico a {
    color: #FF8C00;
}

#plano-basico a:hover {
    color: #009835;
}

#a {
    position: fixed;
    top: 170px;
    right: 0;    
}

#aba-saldo-open {
    float: left;    
    width: 45px;
    height: 60px;
    background: #FFF url('../img/icon_arrows.png') no-repeat;    
    background-position: center center;
    border-radius: 7px 0 0 7px;
    border-top: 2px solid #005fbf;
    border-left: 2px solid #005fbf;
    border-bottom: 2px solid #005fbf;
    cursor: default;
}
#aba-saldo-close {
    float: left;    
    width: 45px;
    height: 60px;
    background: #FFF url('../img/icon_arrows_1.png') no-repeat;
    background-position: center center;
    border-radius: 7px 0 0 7px;
    border-top: 2px solid #005fbf;
    border-left: 2px solid #005fbf;
    border-bottom: 2px solid #005fbf;
    display: none;
}

#box-saldo {
    float: left;
    width: 450px;
    display: none;
    padding: 5px 7px;
    border: 1px solid #005fbf;
    background: #FFF;
}

#content-all {    
    width: 1366px;    
    margin: 0 auto;
}

#wrapper { 
    margin: 0 auto;
    width: 90%;
}
#faux {
    margin-bottom: 10px;    
    width: 100%;
}
#header {
    position: relative;
    color: #333;
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    border: 1px solid #DCDCDC;
    background: #FFFFFF;    
    box-shadow: 5px 5px 2px #888888;    
    -webkit-box-shadow: 5px 5px 2px #888888;    
    -moz-box-shadow: 5px 5px 2px #888888;  
}
#header .logo { position: absolute; top: 0; width: 30%; }
.logo img { width: 240px; margin: 10px 20px; }
#header .user-info { position: absolute; width: 30%; top: 10px; right: 15px; text-align: right; padding: 0;}
#header .user-name { padding: 5px 0; width: 100%; font-weight: bold; }
#header .menu-user li { float: right; list-style: none; margin: 0; padding: 2px 3px; text-align: right; }
#header .menu-user a { color: #1d5fa1; font-size: 14px; } 
#header .menu-user a:hover { color: #FF8C00; font-size: 14px; } 

#navigation {    
    width: 100%;
    height: 25px;
    color: #333;
    padding-bottom: 10px;
    margin: 0;
    border-bottom: 1px solid #DCDCDC;
}

#leftcolumn { 
    float: left;
    color: #333;
    margin: 0;
    padding:0;    
    width: 16%;
    display: inline;
    position: relative;
    min-height: 50px;
}

#rightcolumn { 
    float: right;    
    display: inline;
    color: #333;
    margin-top: 5px;
    padding: 0;
    width: 82%;
    
}

/* para o login */
#login-layout { 
    position: relative;    
    width: 100%;
    margin: 0;
}

/*
#faux, #leftcolumn, #login-layout, #header { background: url('../img/bg/bg_white_gray.jpg') repeat; }
#rightcolumn { background: url('../img/bg/bg_light_blue.jpg') repeat; }
*/
.clear { clear: both; background: none; }

#to-top {    
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 40px;
    display: block;
    color: #FF8C00;
}

#loading {
    display: none;
    position: fixed;
    top: auto;
    left: auto;
    width:100%;
    height: 100%;
    margin: -5px;
    background-color: rgba(0.5,0.5,0.5,0.5);
    z-index: 9999;    
}
#loading .image-loading { position: absolute; top: 40%; left: 40%; padding: 20px; background: #FFF; border: 2px solid #FF8C00; }
#loading .wait { font-family: verdana; color: #0000CD; text-align: center; margin-top: 10px; font-weight: bold; }
.opt-lancamentos { float: left; width: 100%; }

.curtir {
    float: left;
    text-align: left;
    margin: 2px 10px;
}

.seguir {
    float: left;
    text-align: left;
    margin: 2px 10px;
}

.doar { float: right; }

.direitos {float: left; width: 100%; }

