/* 
    Document   : index
    Created on : 13/01/2014, 12:47:13
    Author     : Realter
    Description:
        Purpose of the stylesheet follows.
*/
.totais { font-size: 18px; font-weight: bold; }
.totais-bg {  background: #FFFACD; }